<% provide :title, t("tours.edit_title_tour") %>
<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
        <h3 class="box-title"><%= t "edit_tour" %></h3>
    </div>
    <%= render "admin/tours/form" %>
  </div>
</div>
