<div class="sidebar-menu" data-widget="tree">
  <ul class="list-group">
    <% if @categories.present? %>
      <% @categories.each_with_level @categories do |category, level| %>
        <% if category.root? %>
        <li class="list-group-item list-group-item-info">
          <% else  %>
        <li class="list-group-item list-group-item-warning">
          <% end %>
          <%= link_to "#{"-" * level}#{category.name}", category %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
