<% provide :title, t("edit_title_user") %>
<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
        <h3 class="box-title"><%= t "edit_user" %></h3>
    </div>
    <%= render "admin/users/form" %>
  </div>
</div>
